.cardeventodiv {
  background-color: #be0000;
  display: flex;
  flex-direction: column;
  width: 282px;
}

.cardeventodiv p,
.cardeventodiv h4 {
  margin: 0;
}
.corpocard {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.cardeventodiv .tag {
  background-color: #4a4349;
  border-radius: 4xp;
  padding: 8px;
  display: inline-block;
}

.tituloevento {
}
